/* Valeurs globales du site */

$black: #1d1e22ff;
$oxford-blue: #14213dff;
$orange-web: #fca311ff;
$platinum: #e5e5e5ff;
$white: #fffafaff;

$font-xxl: 5rem;
$font-xl: 3rem;
$font-l: 2.5rem;
$font-m: 2rem;
$font-xm: 1.5rem;
$font-s: 1.25rem;
$font-xs: 1rem;
$font-micro: 0.125rem;

$global-vh: 15vh;

// mixin pour eviter de repeter les regles du flex-center
@mixin flex-center($direction: row, $justify: center, $alignment: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $alignment;
}
/* --------- STYLE GENERAL DE LA PAGE --------- */

body {
  background-color: $black;
  background-image: url("./assets/herobackground.png");
  background-attachment: fixed;
  color: $white;
  font-size: 62.5%;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: $global-vh 85vh repeat(3, 1fr) 30vh;
  gap: $font-l;
  grid-template-areas:
    "header header"
    "hero hero"
    "parcours parcours"
    "projets projets"
    "about about"
    "contact contact";
}

.link {
  color: $white;
  text-decoration: none;
  &:hover {
    color: $orange-web;
    text-shadow: 0 0 2px $orange-web;
  }
}

.colored-text {
  color: $orange-web;
}
.filled-background {
  background-image: linear-gradient(120deg, $black 0%, $black 100%),
    linear-gradient(
      120deg,
      rgba($orange-web, 0.5) 0%,
      rgba($white, 0.5) 50%,
      rgba($black, 0.5) 100%
    );
}
.border-box {
  background: linear-gradient(120deg, $black 0%, $black 100%) padding-box,
    linear-gradient(
        120deg,
        rgba($orange-web, 0.5) 0%,
        rgba($white, 0.5) 50%,
        rgba($black, 0.5) 100%
      )
      border-box;
  border: $font-micro solid transparent;
  border-radius: $font-xs;
  padding: $font-l;
}
.shadowline {
  &::after {
    position: absolute;
    display: block;
    top: $global-vh;
    content: " ";
    height: $font-micro;
    width: 100%;
    background: linear-gradient(
      120deg,
      $orange-web 0%,
      $white 75%,
      $black 100%
    );
    box-shadow: 0px 0px 5px 1px $orange-web;
  }
}

/* --------- STYLE DE LA NAVBAR --------- */

header {
  grid-area: header;
  @include flex-center(row, space-between, center);
  gap: $font-xm;
  padding: $font-s 0;

  .logo {
    height: calc($global-vh * 1.5);
    margin-left: $font-l;
  }
  .nav_menu {
    width: 65vw;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: $font-xxl;
  }
  .nav-link {
    font-size: $font-s;
    text-transform: uppercase;
    transition: color 0.25s ease-in-out, text-shadow 0.25s ease-in-out;
  }
}

/* --------- STYLE DE LA SECTION HERO --------- */

section.hero {
  grid-area: hero;
  @include flex-center(row, center, flex-start);
  padding: 0 $font-xxl;
  padding-bottom: $font-l;
  .hero_card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr 1.5fr;
    grid-template-areas:
      "hero_title hero_title"
      "hero_presentation-card hero_contact-card"
      "hero_presentation-card hero_contact-card";
    gap: $font-s;
    .hero_card-title {
      grid-area: hero_title;
      @include flex-center(column);
      gap: $font-s;
      font-size: $font-m;
      text-transform: uppercase;
    }
    /* .hero_card:hover {
      box-shadow: 0 0 $font-xs $orange-web;
      transform: scale(1.05);
    } */
    .presentation-card {
      display: grid;
      grid-template-columns: 0.75fr 1.25fr;
      grid-template-rows: repeat(2, 1fr);
      gap: $font-s;
      grid-template-areas:
        "avatar informations"
        "socials socials";
      .avatar_wrapper {
        grid-area: avatar;
        border-radius: 100%;
        box-shadow: 0 0 0.25rem $orange-web;
        @include flex-center();
        width: $global-vh;
        height: $global-vh;
        overflow: hidden;
        margin: auto;
        .avatar {
          height: calc($global-vh * 1.75);
        }
      }
      .informations_wrapper {
        font-size: $font-s;
        @include flex-center(column, center, flex-start);
        gap: $font-xs;
        padding: $font-xs;
        margin: auto;
      }
      .social-links_wrapper {
        grid-area: socials;
        @include flex-center(column, space-between, flex-start);

        .social-links_title {
          font-size: $font-m;
        }

        .social-links_email {
          font-size: $font-xs;
          .link {
            text-decoration: underline;
          }
        }

        .social-links_list {
          @include flex-center(row, space-between, center);
          flex-wrap: wrap;
          gap: $font-xs;
          width: 100%;
        }
        .bi {
          height: $font-xl;
          width: $font-xl;
          &:hover {
            color: $orange-web;
          }
        }
      }
    }

    .activity-card_charts {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: $font-xxl;
      grid-template-rows: 0.25fr 1.75fr;
      grid-template-areas:
        "Title Title"
        "Languages TimeSpent";
      gap: $font-m;

      .activity-card_title {
        grid-area: Title;

        p {
          font-size: $font-xs;
        }
      }
      .activity-charts_wrapper{
        @include flex-center(column,center ,space-between );
        gap: $font-s;
      }
      .activity-charts {
        border-radius: $font-xs;
        height: calc(2.5 * $font-xxl);
      }
      .languages-chart {
        grid-area: Languages;
        // @include flex-center(row, flex-start, flex-start);
      }
      .timespent-chart {
        grid-area: TimeSpent;
        // @include flex-center(row, flex-end, flex-end);
      }
      .charts-caption {
        font-size: $font-xs;
        line-height: calc($font-xs * 1.15);
        text-decoration: underline;

      }
    }
  }
}

// .hero_text-presentation {
//   grid-area: presentation;
//   text-align: justify;
//   font-size: $font-xs;
//   line-height: calc($font-xs + 15%);
//   padding: $font-xs;
// }
