/* CSS HEX colors
--black: #1d1e22ff;
--oxford-blue: #14213dff;
--orange-web: #fca311ff;
--platinum: #e5e5e5ff;
--white: #fffafa;

CSS HSL colors
--black: hsla(228, 8%, 12%,1);
--oxford-blue: hsla(221, 51%, 16%, 1);
--orange-web: hsla(37, 98%, 53%, 1);
--platinum: hsla(0, 0%, 90%, 1);
--white: hsl(0, 100%, 99%); */

/* --------- STYLE GENERAL DE LA PAGE --------- */

body {
  background-color: #1c1d21;
  color: white;
  font-size: 62.5%;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 15vh 85vh repeat(3, 1fr) 30vh;
  grid-template-areas:
    "header header"
    "hero hero"
    "parcours parcours"
    "projets projets"
    "about about"
    "contact contact";
}
.link {
  color: #fffafa;
  text-decoration: none;
}

/* --------- STYLE DE LA NAVBAR --------- */

header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: 1.25rem 0;
}
header::after {
  position: absolute;
  top: 15vh;
  content: " ";
  height: 1px;
  width: 100%;
  background: linear-gradient(
    120deg,
    #fca311ff 0%,
    #fffafa 75%,
    #1d1e22ff 100%
  );
}

.logo {
  height: 27.5vh;
  margin-left: 2.5rem;
}

.nav_menu {
  width: 65vw;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5rem;
}
.nav-link {
  font-size: 1.25rem;
  text-transform: uppercase;
  transition: color 0.25s ease-in-out, text-shadow 0.25s ease-in-out;
}
.nav-link:hover {
  color: #fca311ff;
  text-shadow: 0 0 1px #fca311ff;
}

/* --------- STYLE DE LA SECTION HERO --------- */

.page-title {
  font-size: 1.75rem;
  font-family: sans-serif;
}

section.hero {
  grid-area: hero;
  background-image: url("./assets/herobackground.png");
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 10rem;
}
.hero_card-wrapper {
  display: grid;
  /* padding: 5rem 10rem; */
  background-color: #1d1e22cc;
  border: 0.5rem solid #fca311ff;
  border-radius: 1rem;
}
.hero_card {
  width: 30%;
  padding: 2.5rem;
}

h1 {
  /* font-size: 3rem; */
  text-transform: uppercase;
  /* text-align: center; */
}
