@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Variables globales du site */
html,
body {
  overflow-x: hidden;
  position: relative;
}

body {
  width: 100vw;
  background-color: #1d1e22;
  background-image: url("../assets/herobackground.png");
  background-attachment: fixed;
  color: snow;
  font-size: 62.5%;
  line-height: 1;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  margin: 1rem;
}

.link {
  color: #128dfc;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
.link:hover {
  color: #fca311;
}

.colored-text {
  color: #fca311;
}

.filled-background {
  background-image: linear-gradient(120deg, #1d1e22 0%, #1d1e22 100%), linear-gradient(120deg, rgba(252, 163, 17, 0.5) 0%, rgba(255, 250, 250, 0.5) 50%, rgba(29, 30, 34, 0.5) 100%);
}

.border-box {
  background: linear-gradient(120deg, #1d1e22 0%, #1d1e22 100%) padding-box, linear-gradient(120deg, rgba(252, 163, 17, 0.5) 0%, rgba(255, 250, 250, 0.5) 50%, rgba(29, 30, 34, 0.5) 100%) border-box;
  border: 0.125rem solid transparent;
  border-radius: 1rem;
  padding: 1.25rem;
  transition: background 0.75s ease-in-out;
}
.border-box:hover {
  background: linear-gradient(120deg, #1d1e22 0%, #1d1e22 100%) padding-box, linear-gradient(120deg, rgba(252, 163, 17, 0.5) 0%, rgba(255, 250, 250, 0.5) 50%, rgba(29, 30, 34, 0.5) 100%) border-box, #128dfc;
}

.shadowline::after {
  position: absolute;
  display: block;
  top: 10vh;
  content: " ";
  height: 0.125rem;
  width: 100%;
  background: linear-gradient(120deg, #fca311 0%, snow 75%, #1d1e22 100%);
  box-shadow: 0px 0px 5px 1px #fca311;
}

@media (min-width: 576px) {
  body {
    background-color: #1d1e22;
  }
}
@media (min-width: 768px) {
  body {
    background-color: #1d1e22;
  }
}
@media (min-width: 992px) {
  body {
    background-color: #1d1e22;
  }
}
@media (min-width: 1200px) {
  body {
    background-color: #1d1e22;
  }
}
@media (min-width: 1400px) {
  body {
    background-color: #1d1e22;
  }
}
/* --------- STYLE DE LA NAVBAR --------- */
.header {
  width: 100vw;
  overflow-x: hidden;
  height: 10vh;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-left: 1rem;
  height: 10vh;
  width: 25vh;
  background-image: url("../assets/AbDevWebLogoSM.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header .header_menu-toggle:has(+ #Header__burger-menu:checked) .header_menu-toggle__toggle {
  display: none;
  transition: all 0.5s ease-in-out;
}
.header .header_menu-toggle:has(+ #Header__burger-menu:checked) .header_menu-toggle__toggle:first-child {
  transform: rotate(45deg);
  display: block;
  position: absolute;
  top: 2.5vh;
  background-color: #fca311;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.header .header_menu-toggle:has(+ #Header__burger-menu:checked) .header_menu-toggle__toggle:last-child {
  transform: rotate(-45deg);
  display: block;
  position: absolute;
  top: 2.5vh;
  background-color: #fca311;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.header .header_menu-toggle {
  z-index: 100;
  position: absolute;
  right: 2.5vh;
  top: 2.5vh;
  width: 5vh;
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.125rem;
}
.header .header_menu-toggle__toggle {
  height: 1vh;
  width: 100%;
  background-color: snow;
  border: 0.125rem solid snow;
}
.header .header_menu-toggle__toggle:first-child {
  border-radius: 10px 10px 0 0;
}
.header .header_menu-toggle__toggle:last-child {
  border-radius: 0 0 10px 10px;
}
.header #Header__burger-menu {
  display: none;
}
.header #Header__burger-menu:checked + .main-nav {
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}
.header .main-nav {
  display: block;
  height: 100vh;
  background-color: #1d1e22;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}
.header .main-nav::after {
  content: "AbDevWeb 2023 - Tous droits résérvés.";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 2rem;
  text-align: center;
  font-size: 1rem;
}
.header .main-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.header .main-nav__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 10vh;
  width: auto;
  background-color: #1d1e22;
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  color: snow;
  border-bottom: 0.125rem solid #fca311;
  transition: all 0.5 ease;
}
.header .main-nav__link:hover {
  background-color: #fca311;
  color: snow;
  border-color: snow;
  transition: all 0.5 ease;
}

/* --------- STYLE DE LA SECTION HERO --------- */
.hero__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
}
.hero__title__headline {
  font-size: 2rem;
}
.hero__title__tagline {
  font-size: 1rem;
}
.hero__presentation {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "Infos" "Avatar" "Socials";
  gap: 1rem;
}
.hero__presentation__avatar {
  grid-area: Avatar;
  border-radius: 100%;
  padding: 0;
  overflow: hidden;
  margin: auto;
  width: 20vh;
  height: 20vh;
}
.hero__presentation__avatar__img {
  width: 20vh;
  height: 20vh;
}
.hero__presentation__informations {
  grid-area: Infos;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1rem;
  line-height: 1.2rem;
}
.hero__presentation__socials {
  grid-area: Socials;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
.hero__presentation__socials .social-links__title {
  font-size: 1.25rem;
}
.hero__presentation__socials .social-links__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  gap: 1rem;
}
.hero__presentation__socials .social-links__list .socials {
  color: snow;
}
.hero__presentation__socials .social-links__list .socials:hover {
  color: #fca311;
}
.hero__presentation__socials .social-links__list .socials .bi {
  height: 1.25rem;
}
.hero__presentation__socials .social-links__email {
  font-size: 0.9090909091rem;
  line-height: 1rem;
}
.hero__activity {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.25fr repeat(2, 1fr);
  grid-template-areas: "Title Title" "Languages Languages" "TimeSpent TimeSpent";
  gap: 1rem;
}
.hero__activity__title {
  grid-area: Title;
  font-size: 1rem;
  line-height: 1.25rem;
}
.hero__activity__wrapper-caption {
  font-size: 1rem;
  line-height: 1.25rem;
}
.hero__activity__wrapper-languages {
  grid-area: Languages;
  background-color: yellow;
}
.hero__activity__wrapper-timespent {
  grid-area: TimeSpent;
  background-color: blue;
}

/* --------- STYLE DE LA SECTION PARCOURS --------- *//*# sourceMappingURL=styles.css.map */